<launch>
<arg name="Geta" value="15.0"/>
<arg name="namespace" value="tb3_"/>
<arg name="scan_topic" value="scan"/>
<arg name="global_frame_id" value="map"/>
<arg name="base_frame_id" value="base_footprint"/>
<arg name="odom_frame_id" value="odom"/>

<param name="namespace_init_count" value="0"/>


  <node pkg="seal" type="seal_graph" name="seal_graph" output="screen">
  <param name="eta" value="$(arg Geta)"/>

  </node>
  
    
</launch>
